<div class="show">
  <div class="show__product">
    <img src="{{product.image}}"alt="...">
  </div>
  <div class="show__content">
    <h1>{{product.name}}</h1>
    <p>{{product.description}}.</p>
    <a href="#">Thêm vào giỏ hàng</a>
  </div>
</div>



