

<div class="row g-0 bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <img src="{{product.image}}" class="w-100" alt="...">
  </div>
  <div class="col-md-6 p-4 ps-md-0">
    <h5 class="mt-0">{{product.name}}</h5>
    <p>{{product.description}}.</p>
    <a href="#" class="stretched-link">Thêm vào giỏ hàng</a>
  </div>
</div>



