.subscribe {
    background-color: #08c;
    padding: 2rem;
    margin-top: 3rem;
    &__box {
        position: relative;
        display: flex;
        width: 80rem;
        margin-left: auto;
        margin-right: auto;
        &--h1 {
            font-size: 2rem;
            display: inline-block;
            width: 40rem;
        }
        a {
            position: absolute;
            margin-left: 4rem;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}

.bor--adidas {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

.btn--adidas {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 1;
    transform: translate(-2%, -6%);
    &:active {
        transform: none;
    }
    &:hover {
        color: rgb(144, 176, 184);
    }
    i {
        font-size: 3rem;
        vertical-align: middle;
        margin-left: 2rem;
    }
}

.btn--next,
.btn--re {
    font-size: 3rem;
    padding: 1rem;
    background-color: rgba($color: gray, $alpha: .8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
    border-radius: 5px;
    &:hover {
        background-color: black;
        color: white;
    }
}

.btn--next {
    right: 2rem;
}

.btn--re {
    left: 2rem;
}

.bg--black {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: .5);
}

.btn--del {
    width: 50%;
    font-size: 1.8rem;
    padding: 5px 10px;
    background-color: rgb(236, 65, 53);
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 5px;
    border: 1px solid #e4e2e2;
    &:hover {
        background-color: rgb(241, 79, 67);
    }
}

.btn--close {
    border: 1px solid #e4e2e2;
    width: 50%;
    font-size: 1.8rem;
    padding: 5px 10px;
    background-color: white;
    cursor: pointer;
    color: rgb(236, 65, 53);
    outline: none;
    border-radius: 5px;
    &:hover {
        background-color: rgb(238, 230, 229);
    }
}

.checkout--btnOK {
    background-color: #ee4d2d;
    color: white;
    width: 100%;
    height: 4rem;
    &:hover {
        cursor: pointer;
        background-color: #f3694d;
    }
}

.mhbtn {
    border: none;
    padding: 1rem 6rem;
    background-color: black;
    color: white;
    font-size: 2.4rem;
    border-radius: 5px;
    &:hover {
        background-color: rgba(20, 20, 20, 1);
        cursor: pointer;
    }
}

.form_btn_submit {
    width: 30rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin-top: 4rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: black;
    color: white;
    &:hover {
        background-color: white;
        color: black;
    }
    &:active {
        outline: .3rem solid rgba($color: #979c9e, $alpha: .8);
    }
}

.active_bg_white {
    background-color: white;
}

.btn_nor {
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba($color: #ac9d9d, $alpha: 02);
    &:hover {
        color: #ee4d2d;
    }
    &:active {
        box-shadow: 2px 1px 2px rgba($color: #000000, $alpha: 0.5);
    }
}

.active__borderbot {
    border-bottom: 2px solid #ee4d2d;
    a {
        color: #ee4d2d !important;
    }
}

.bill_show {
    display: block !important;
}

.menuContact {
    position: fixed;
    z-index: 99;
    right: -120px;
    top: 50%;
    transform: translateY(-50%);
    &__item {
        position: relative;
        width: 160px;
        right: 0px;
        list-style: none;
        background-color: #08c;
        margin-top: 2px;
        cursor: pointer;
        transition: all .5s ease-out;
        &:hover {
            right: 120px;
        }
        &--link {
            text-decoration: none;
            color: white;
            font-size: 16px;
            line-height: 40px;
            i {
                width: 40px;
                font-size: 26px;
                text-align: center;
                vertical-align: middle;
            }
        }
    }
}

.btn-comment {
    padding: 2px 10px;
    cursor: pointer;
    background-color: rgb(11, 107, 155);
    color: white;
    border: 1px solid black;
    font-weight: bold;
}