.subscribe {
    background-color: yellow;
    padding: 2rem;
    margin-top: 3rem;
    &__box {
        position: relative;
        display: flex;
        width: 80rem;
        margin-left: auto;
        margin-right: auto;
        &--h1 {
            font-size: 2rem;
            display: inline-block;
            width: 40rem;
        }
        a {
            position: absolute;
            margin-left: 4rem;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}

.bor--adidas {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

.btn--adidas {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 1;
    transform: translate(-2%, -6%);
    &:active {
        transform: none;
    }
    &:hover {
        color: rgb(144, 176, 184);
    }
    i {
        font-size: 3rem;
        vertical-align: middle;
        margin-left: 2rem;
    }
    // &::after {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 5px;
    //     left: 5px;
    //     border: 1px solid black;
    // }
}