.subscribe {
    background-color: yellow;
    padding: 2rem;
    margin-top: 3rem;
    &__box {
        position: relative;
        display: flex;
        width: 80rem;
        margin-left: auto;
        margin-right: auto;
        &--h1 {
            font-size: 2rem;
            display: inline-block;
            width: 40rem;
        }
        a {
            position: absolute;
            margin-left: 4rem;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }
}

.bor--adidas {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

.btn--adidas {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    background-color: black;
    color: white;
    cursor: pointer;
    z-index: 1;
    transform: translate(-2%, -6%);
    &:active {
        transform: none;
    }
    &:hover {
        color: rgb(144, 176, 184);
    }
    i {
        font-size: 3rem;
        vertical-align: middle;
        margin-left: 2rem;
    }
}

.btn--next,
.btn--re {
    font-size: 3rem;
    padding: 1rem;
    background-color: rgba($color: gray, $alpha: .8);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
        background-color: black;
        color: white;
    }
}

.btn--next {
    right: 2rem;
}

.btn--re {
    left: 2rem;
}

.bg--black {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: .5);
}

.btn--del {
    font-size: 1.8rem;
    padding: 5px 10px;
    background-color: rgb(236, 65, 53);
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 5px;
    &:hover {
        background-color: rgb(240, 97, 87);
    }
}

.btn--close {
    font-size: 1.8rem;
    padding: 5px 10px;
    background-color: rgb(87, 75, 74);
    cursor: pointer;
    color: white;
    outline: none;
    border-radius: 5px;
    &:hover {
        background-color: rgb(119, 96, 94);
    }
}

.checkout--btnOK {
    background-color: #ee4d2d;
    color: white;
    width: 100%;
    height: 4rem;
    &:hover {
        cursor: pointer;
        background-color: #f3694d;
    }
}

.mhbtn {
    border: none;
    padding: 1rem 6rem;
    background-color: #ee4d2d;
    color: white;
    font-size: 2.4rem;
    border-radius: 5px;
    &:hover {
        background-color: #ec6044;
        cursor: pointer;
    }
}