.banner{
    position: relative;
    &__content{
        top: 50%;
        transform: translateY(-50%);
        left: 10rem;
        max-width: 45rem;
        position: absolute;
        &--h1{
            font-size: 4rem;
        }
        &--p{
            margin-top: 1rem;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        
    }
    
}