.btnsize--active {
    background-color: black;
    color: white;
}

.rating-review {
    padding: 2rem 0;
    &__wrapper {
        padding: 2rem 0;
        display: flex;
        .rating {
            width: 30%;
            &__wrapper {
                background-color: #2ada71;
                display: flex;
                height: 100px;
                justify-content: center;
                align-items: center;
                h1 {
                    width: 40%;
                    text-align: center;
                }
                &--star {
                    i {
                        color: #000000;
                    }
                    line-height: 30px;
                    width: 60%;
                }
            }
        }
        .review {
            width: 70%;
            padding: 0 2rem;
            &__comment {
                strong {
                    font-size: 2rem;
                }
                &--send {
                    background-color: #f5f5f5;
                    padding: 1rem;
                    display: flex;
                    &_img {
                        width: 10%;
                        img {
                            width: 50px;
                            height: 50px;
                        }
                    }
                    .form-comment {
                        text-align: right;
                        width: 90%;
                        textarea {
                            width: 95%;
                            padding: .5rem 1rem;
                        }
                    }
                }
                &--page {
                    &_wrapper {
                        display: flex;
                        &--title {
                            img {
                                border-radius: 50%;
                                width: 50px;
                                height: 50px;
                            }
                        }
                        &--content {
                            &_box {
                                border-radius: 20px;
                                background-color: #f5f5f5;
                                margin: 5px 0 0 10px;
                                padding: 5px 10px;
                                strong {
                                    font-size: 1.6rem;
                                }
                            }
                            &_act {
                                padding-left: 10px;
                                font-size: 1.4rem;
                                a {
                                    margin-left: 10px;
                                    text-decoration: none;
                                    color: rgb(104, 100, 100);
                                    font-weight: bold;
                                    &:hover {
                                        border-bottom: 1px solid black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.detail {
    font-size: 1.6rem;
    width: 90%;
    margin: 5rem auto;
    display: flex;
    background-color: white;
    padding: 2rem;
    &__content {
        width: 70%;
        &--image {
            text-align: center;
            img {
                width: 80rem;
                height: 60rem;
            }
        }
        &--info {
            padding: 2rem;
            &_decription {
                margin-top: 10rem;
            }
        }
    }
    &__sidebar {
        padding: 1rem;
        width: 30%;
        border-left: 1px solid rgba($color: #000000, $alpha: 0.1);
        &--choose {
            &_price {
                font-size: 2rem;
                margin: 2rem 0;
                display: flex;
                color: rgb(238, 41, 41);
            }
            &_size {
                margin-bottom: 5rem;
                .btn--size {
                    cursor: pointer;
                    padding: 1rem 2rem;
                    margin: 2rem 0 0 0;
                }
                span {
                    position: absolute;
                    display: none;
                    height: 1rem;
                    font-size: 1.2rem;
                }
            }
        }
    }
}