.filter {
    width: 95%;
    text-align: right;
    margin-top: 4rem;
    &__HorS {
        margin-right: 20px;
        display: inline;
        &--btn {
            i {
                margin-left: 5px;
            }
        }
    }
    &__sort {
        position: relative;
        display: inline;
        .dropdown {
            display: none;
            border-radius: 10%;
            position: absolute;
            right: 0;
            top: 25px;
            background-color: white;
            z-index: 9;
            font-size: 1.6rem;
            width: 160px;
            padding: 1rem 2rem;
            li {
                list-style: none;
                line-height: 4rem;
            }
        }
    }
}