.size-small {
    font-size: 1.2rem;
}

@keyframes navMove {
    from {
        top: -100px;
    }
    to {
        top: 0px;
    }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    animation: navMove .5s ease-out;
}

.nav {
    display: flex;
    padding: .2rem;
    box-shadow: 0 4px 8px rgba($color: black, $alpha: .2);
    font-size: 1.6rem;
    background-color: white;
    a {
        text-decoration: none;
        color: black;
    }
    .dropdown-content {
        background-color: white;
        display: none;
        position: absolute;
        box-shadow: .4rem .4rem .4rem rgba($color: black, $alpha: .2);
        border-radius: .4rem;
        min-width: 20rem;
        top: 50px;
        z-index: 10;
        a {
            font-size: 2rem;
            color: black;
            padding: 0 1rem;
            text-align: left;
            text-decoration: none;
            display: block;
            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
    &__bar {
        line-height: 6rem;
        font-size: 3rem;
        display: none;
    }
    &__left {
        width: 60%;
        display: flex;
        .logo {
            margin-left: 1rem;
            // max-width: 5rem;
        }
        ul {
            line-height: 6rem;
            margin-left: 5rem;
            li {
                font-size: 2rem;
                margin-left: 2rem;
                list-style: none;
                display: inline-block;
                &:hover>a {
                    border-bottom: 2px solid red;
                }
                a {
                    text-decoration: none;
                }
                &:hover .dropdown-content {
                    display: block;
                }
            }
        }
    }
    &__right {
        width: 40%;
        line-height: 6rem;
        max-width: 140rem;
        margin-right: 4rem;
        text-align: center;
        &--user {
            padding: 1rem .2rem 1rem 1rem;
            display: inline;
            position: relative;
            margin-right: 2rem;
            cursor: pointer;
            box-shadow: .2rem .2rem .8rem rgba($color: black, $alpha: .2);
            border-radius: 50%;
            list-style: none;
            .dropdown-content {
                text-align: right;
                min-width: 16rem;
                top: 45px;
                right: -8rem;
                a {
                    text-align: center;
                }
            }
            .dropbtn {
                display: inline-block;
            }
            &:hover .dropdown-content {
                display: block;
            }
        }
        // &--user::after{
        //     content: "";
        // }
        &--search {
            display: inline;
            margin-right: 2rem;
            box-shadow: .2rem .2rem .8rem rgba($color: black, $alpha: .2);
            padding: .8rem 0 .8rem 1.2rem;
            border-radius: 5rem;
            background-color: white;
            .input {
                background-color: white;
                font-size: 2rem;
                outline: none;
                border: none;
                opacity: .8;
            }
            .search {
                position: relative;
                margin-right: -0.5rem;
                padding: .8rem;
                cursor: pointer;
                box-shadow: .2rem .2rem .8rem rgba($color: black, $alpha: .2);
                border-radius: 50%;
                list-style: none;
                &:hover {
                    background-color: rgb(219, 218, 218);
                }
                &:active {
                    transform: translate(3%, 3%);
                }
            }
        }
        &--cart {
            padding: 1rem;
            display: inline;
            margin-right: 2rem;
            cursor: pointer;
            box-shadow: .2rem .2rem .8rem rgba($color: black, $alpha: .2);
            border-radius: 50%;
            list-style: none;
            &:hover {
                opacity: .8;
            }
            span {
                position: absolute;
                background-color: white;
                border-radius: 50%;
                color: red;
                line-height: 1.2rem;
                padding: .5rem;
                box-shadow: .2rem .2rem .4rem rgba($color: black, $alpha: .2);
            }
        }
    }
}