.userpage {
    display: flex;
    width: 120rem;
    margin: 3rem auto 5rem auto;
    &__sidebar {
        width: 20%;
        &--brief {
            padding: 1rem 0;
            border-bottom: 1px solid rgb(214, 211, 211);
            margin-right: 1rem;
            &_username {
                font-size: 1.6rem;
                margin: auto 0 auto 1rem;
                label {
                    color: #777373;
                }
            }
            display: flex;
            img {
                width: 8rem;
                border-radius: 50%;
            }
        }
        &--menu {
            padding: 3rem 0;
            font-size: 1.6rem;
            li {
                p {
                    color: white;
                    border-radius: 50%;
                    text-align: center;
                    width: 3rem;
                    font-size: 2rem;
                    margin-right: 2rem;
                }
                a {
                    text-decoration: none;
                }
                display: flex;
                list-style: none;
                line-height: 3rem;
                padding: 1rem;
                &:hover>a {
                    color: #ee4d2d;
                }
            }
        }
    }
    .profile {
        background-color: white;
        width: 80%;
        border: .1px solid rgb(214, 211, 211);
        &__title {
            font-size: 1.6rem;
            padding: 2rem;
            border-bottom: 1px solid #f5f5f5;
        }
        &__content {
            display: flex;
            padding: 2rem;
            &--left {
                width: 70%;
                font-size: 1.6rem;
                &_wrapper {
                    display: flex;
                    line-height: 5rem;
                    &-label {
                        width: 15rem;
                        text-align: right;
                        color: #777373;
                    }
                    &-input {
                        margin-left: 5rem;
                    }
                }
                &_submit {
                    text-align: center;
                    margin-top: 2rem;
                    margin-bottom: 5rem;
                    .btn-submit {
                        background-color: #ee4d2d;
                        padding: 1rem 2rem;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                }
            }
            &--right {
                font-size: 1.6rem;
                width: 30%;
                text-align: center;
                border-left: 1px solid rgb(214, 211, 211);
                img {
                    width: 10rem;
                    border-radius: 50%;
                    margin: 2rem 0 2rem 0;
                }
                &_btn {
                    display: block;
                    margin-bottom: 2rem;
                    button {
                        padding: 1rem 2rem;
                        cursor: pointer;
                    }
                }
                span {
                    color: #777373;
                }
            }
        }
    }
    &__bill {
        width: 80%;
        &--title {
            background-color: white;
            width: 100%;
            border: .1px solid rgb(214, 211, 211);
            display: flex;
            &_status {
                width: 20%;
                font-size: 2rem;
                text-align: center;
                padding: 2rem 0;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
        &--content {
            display: none;
            width: 100%;
            &_products {
                background-color: white;
                margin: 2rem 0;
                border: .1px solid rgb(214, 211, 211);
                .Bill_product {
                    font-size: 1.6rem;
                    border-bottom: .1px solid rgb(214, 211, 211);
                    width: 100%;
                    display: flex;
                    &--image {
                        padding: 1rem 2rem;
                        width: 15%;
                    }
                    &--name {
                        line-height: 100px;
                        padding: 1rem 2rem;
                        width: 55%;
                    }
                    &--soluong {
                        line-height: 100px;
                        padding: 1rem 0;
                        text-align: center;
                        width: 10%;
                    }
                    &--dongia {
                        line-height: 100px;
                        padding: 1rem 0;
                        text-align: center;
                        border-left: .1px solid rgb(214, 211, 211);
                        width: 20%;
                        p {
                            display: inline;
                        }
                    }
                }
                &--total {
                    background-color: #f1f1f1;
                    padding: 2rem 4rem 0 4rem;
                    font-size: 2rem;
                    text-align: right;
                    p,
                    span:last-child {
                        display: inline;
                        color: red;
                        font-size: 3rem;
                    }
                }
                &--button {
                    background-color: #f1f1f1;
                    padding: 2rem 4rem;
                    text-align: right;
                }
            }
        }
    }
}