@import 'varilable';
@import'validator';
@import 'card';
@import'nav';
@import'footer';
@import'banner';
@import'another';
@import'queries';
@import'hor--scroll';
@import'media';
@import'profile';
@import'cart';
@import'accountM';
@import'detailpd';
@import'checkout';
@import'filter';
@import'creProduct';
@import'admin';
@import'detailBill';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "AdihausDIN", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}