<body style="background-color: #f5f5f5;">
    <div id="result"></div>
    <div id="test"></div>
    <div class="checkout">
        <div class="checkout__address">
            <div class="checkout__address--title">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Địa Chỉ Nhận Hàng</h3>
            </div>
            <div class="checkout__address--content">
                <div class="checkout__address--content_info">
                    <p id="user_id" style="display:none">{{user._id}}</p>
                    <strong id="user_name">{{user.fullname}}</strong>
                    <strong>{{user.phone_number}}</strong>
                    <span>{{user.address}}</span>
                </div>
                <div class="checkout__address--content_edit"><a>THAY ĐỔI</a></div>
            </div>
        </div>
        <div class="checkout__product">
            <div class="checkout__product--title">
                <div id="checkout_title_sp" class="checkout__product--title_sanpham">
                
                </div>
                <div class="checkout__product--title_dongia">
                    Đơn Giá
                </div>
                <div class="checkout__product--title_soluong">
                    Số Lượng
                </div>
                <div class="checkout__product--title_sotien">
                Thành tiền
                </div>
            </div>
            <div id="arr_product">
               
            </div>
        </div>
        <div class="checkout__payment">
            <div class="checkout__payment--title">
                <h3>Phương thức thanh toán</h3>
                <div class="checkout__payment--title_edit">
                    <span>thanh toán khi nhận hàng</span>
                    <a>THAY ĐỔI</a>
                </div>    
            </div>
            <div class="checkout__payment--total">
                <div class="checkout__payment--total_tienhang">
                    <span style="margin-right:50px">Tổng tiền hàng</span>
                    <p class="Checkout_fm_price" id="Checkout_tienhang"> 
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__payment--total_ship">
                    <span style="margin-right:50px">Phí vận chuyển</span>
                    <p class="Checkout_fm_price" id="Checkout_vanchuyen">
                       50000
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__payment--total_thanhtoan">
                    <span style="margin-right:50px">Tổng thanh toán:</span>
                    <p class="Checkout_fm_price" id="Checkout_total">
                    </p>
                    <span>VNĐ</span>
                </div>
            </div>
            <div class="checkout__payment--order">
                <a href="/Bill/show"><button id="Checkout_dathang" class="mhbtn">Đặt Hàng</button></a>
            </div>
        </div>
    </div>
</body>
<script>
    const user_name = document.getElementById("user_name").innerHTML;
    sessionStorage.setItem("user_name", user_name);
    
    var tienhang =  document.getElementById("Checkout_tienhang");
    var Checkout_total =  document.getElementById("Checkout_total");
    var checkout_title_sp =  document.getElementById("checkout_title_sp");
    const Checkout_vanchuyen =  document.getElementById("Checkout_vanchuyen").innerHTML;
    const user_id = document.getElementById("user_id").innerHTML;
    const Checkout_dathang =  document.getElementById("Checkout_dathang");

    tienhang.innerHTML = sessionStorage.getItem("tongtien");
    Checkout_total.innerHTML = (Number(sessionStorage.getItem("tongtien"))+ Number(Checkout_vanchuyen));
    checkout_title_sp.innerHTML = ("Sản Phẩm ("+ sessionStorage.getItem("length") +")")

    var products = JSON.parse(sessionStorage.getItem("products"));

    
    const content = products.map(function(item){
        var sotien = Number(item.dongia)*Number(item.soluong)
        return ` <div class="checkout__product--info">
                    <div class="checkout__product--info_sanpham">
                    <img src="${item.image}" alt="">
                    <p>ADILETTE CORK SLIDES</p>
                    </div>
                    <div class="checkout__product--info_dongia">
                        <p class="Checkout_fm_price" id="formatPrice">
                        ${item.dongia}
                        </p>
                        <span>VNĐ</span>
                    </div>
                    <div class="checkout__product--info_soluong">
                        <span>${item.soluong}</span>
                    </div>
                    <div class="checkout__product--info_sotien">
                        <p class="Checkout_fm_price" id="formatPrice">
                        ${sotien}
                        </p>
                        <span>VNĐ</span>
                    </div>
                </div>`
    })
    document.querySelector('#arr_product').innerHTML = content.join("")
    var Bill = {};
    Bill.user_id = user_id;
    Bill.total = (Number(sessionStorage.getItem("tongtien"))+ Number(Checkout_vanchuyen));
    Bill.products = products;
    Bill.status = "ctt";
    Checkout_dathang.addEventListener("click",function(){
       fetch('/Bill/store', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Bill),
            })
            .then(response => response.json())
            .then(data => {
            console.log('Success:', data);
            })
            .catch((error) => {
            console.error('Error:', error);
        });
    })
    

    //format
function formatCash(str) {
    return str.trim().split('').reverse().reduce((prev, next, index) => {
        return ((index % 3) ? next : (next + '.')) + prev
    })
}
const PDelement = document.querySelectorAll('.Checkout_fm_price');
for (const element of PDelement) {
    const priceVND = formatCash(element.textContent);
    element.innerHTML = `${priceVND}`;

}
    
</script>