<body style="background-color: #f5f5f5;">
    <div class="checkout">
        <div class="checkout__address">
            <div class="checkout__address--title">
                <i class="fas fa-map-marker-alt"></i>
                <h3>Địa Chỉ Nhận Hàng</h3>
            </div>
            <div class="checkout__address--content">
                <div class="checkout__address--content_info">
                    <strong>Tên</strong>
                    <strong>Số điện thoại</strong>
                    <span>Địa chỉ</span>
                </div>
                <div class="checkout__address--content_edit"><a>THAY ĐỔI</a></div>
            </div>
        </div>
        <div class="checkout__product">
            <div class="checkout__product--title">
                <div class="checkout__product--title_sanpham">
                Sản Phẩm
                </div>
                <div class="checkout__product--title_dongia">
                    Đơn Giá
                </div>
                <div class="checkout__product--title_soluong">
                    Số Lượng
                </div>
                <div class="checkout__product--title_sotien">
                Thành tiền
                </div>
            </div>
            <div class="checkout__product--info">
                <div class="checkout__product--info_sanpham">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/0ba2df71ef004243b185acc301054908_9366/Adilette_Cork_Slides_White_GZ1025_01_standard.jpg" alt="">
                <p>ADILETTE CORK SLIDES</p>
                </div>
                <div class="checkout__product--info_dongia">
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__product--info_soluong">
                    <span>1</span>
                </div>
                <div class="checkout__product--info_sotien">
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
            </div>
            <div class="checkout__product--info">
                <div class="checkout__product--info_sanpham">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/0ba2df71ef004243b185acc301054908_9366/Adilette_Cork_Slides_White_GZ1025_01_standard.jpg" alt="">
                <p>ADILETTE CORK SLIDES</p>
                </div>
                <div class="checkout__product--info_dongia">
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__product--info_soluong">
                    <span>1</span>
                </div>
                <div class="checkout__product--info_sotien">
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
            </div>
            <div class="checkout__product--info">
                <div class="checkout__product--info_sanpham">
                <img src="https://assets.adidas.com/images/h_840,f_auto,q_auto:sensitive,fl_lossy/0ba2df71ef004243b185acc301054908_9366/Adilette_Cork_Slides_White_GZ1025_01_standard.jpg" alt="">
                <p>ADILETTE CORK SLIDES</p>
                </div>
                <div class="checkout__product--info_dongia">
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__product--info_soluong">
                    <span>1</span>
                </div>
                <div class="checkout__product--info_sotien">
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
            </div>
        </div>
        <div class="checkout__payment">
            <div class="checkout__payment--title">
                <h3>Phương thức thanh toán</h3>
                <div class="checkout__payment--title_edit">
                    <span>thanh toán khi nhận hàng</span>
                    <a>THAY ĐỔI</a>
                </div>    
            </div>
            <div class="checkout__payment--total">
                <div class="checkout__payment--total_tienhang">
                    <span style="margin-right:50px">Tổng tiền hàng</span>
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__payment--total_ship">
                    <span style="margin-right:50px">Phí vận chuyển</span>
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
                <div class="checkout__payment--total_thanhtoan">
                    <span style="margin-right:50px">Tổng thanh toán:</span>
                    <p id="formatPrice">
                       999000
                    </p>
                    <span>VNĐ</span>
                </div>
            </div>
            <div class="checkout__payment--order">
                <button class="mhbtn">Đặt Hàng</button>
            </div>
        </div>
    </div>
</body>