<div class="creProduct">
    <form class="form__creProduct" action="/admin/storePD" method="POST" id="form__creProduct">
        <h1>Tọa sản phẩm</h1>
        <div class="form__group">
            <label for="name">Tên sản phẩm</label>
            <input type="text"  id="name" name="name">
        </div>
        <div class="form__group">
            <label for="image">link hình ảnh</label>
            <input type="text"  id="image" name="image">
        </div>
        <div class="form__group">
            <label for="price">đơn giá</label>
            <input type="number"  id="price" name="price">
        </div>
        <div class="form__group">
            <label for="type">loại</label>
            <input type="text"  id="type" name="type">
        </div>
        <div class="form__group">
            <label for="description">mô tả</label>
            <input type="text"  id="description" name="description">
        </div>
        <div class="form__group">
            <label for="size">kích cỡ</label>
            <input type="number"  id="size" name="size">
        </div>
        <div class="form__group">
            <label for="number">số lượng</label>
            <input type="number"  id="number" name="number">
        </div>
        <div class="form__group">
            <label for="sex">Dành cho giới tính nào</label>
            <input type="text"  id="sex" name="sex">
        </div>
        <div class="form__group">
            <label for="brand">Thương hiệu</label>
            <input type="brand"  id="brand" name="brand">
        </div>
        <button class="form__submit">Tạo</button>
    </form>
</div>