<body style="background-color: #f5f5f5;">
    <div class="userpage">
        <div class="profile" style="width: 100%;">
            <div class="profile__title">
                <h3>Hồ Sơ Của {{user.fullname}}</h3>
                <p>quản lý thông tin để bảo mật tài khoản</p>
            </div>
            <div class="profile__content">
                <div class="profile__content--left">
                    <div class="profile__content--left_wrapper">
                        <div class="profile__content--left_wrapper-label">
                            <label>Tên Đăng Nhập</label>
                        </div>
                        <div class="profile__content--left_wrapper-input">
                            {{user.fullname}}
                        </div>
                    </div>
                    <div class="profile__content--left_wrapper">
                        <div class="profile__content--left_wrapper-label">
                            <label>Tên</label>
                        </div>
                        <div class="profile__content--left_wrapper-input">
                            {{user.fullname}}
                        </div>
                    </div>
                    <div class="profile__content--left_wrapper">
                        <div class="profile__content--left_wrapper-label">
                            <label>Email</label>
                        </div>
                        <div class="profile__content--left_wrapper-input">
                            {{user.email}}
                        </div>
                    </div>
                    <div class="profile__content--left_wrapper">
                        <div class="profile__content--left_wrapper-label">
                            <label>Số Điện Thoại</label>
                        </div>
                        <div class="profile__content--left_wrapper-input">
                            Chưa có 
                        </div>
                    </div>
                    <div class="profile__content--left_wrapper">
                        <div class="profile__content--left_wrapper-label">
                            <label>Giới Tính</label>
                        </div>
                        <div class="profile__content--left_wrapper-input">
                            Chưa có 
                        </div>
                    </div>
                    <div class="profile__content--left_wrapper">
                        <div class="profile__content--left_wrapper-label">
                            <label>Ngày Sinh</label>
                        </div>
                        <div class="profile__content--left_wrapper-input">
                           Chưa có 
                        </div>
                    </div>
                    <div class="profile__content--left_submit">
                        <button class="btn-submit" > Xóa</button>
                    </div>
                </div>
                <div class="profile__content--right">
                    <img src="https://upload.wikimedia.org/wikipedia/vi/archive/1/1d/20210321120435%21N%C6%A1i_n%C3%A0y_c%C3%B3_anh_-_Single_Cover.jpg" alt="avatar">
                </div>
            </div>

        </div>
    </div>
</body>


