<form method="POST" action="newPD/store">
  <div class="form-group">
    <label for="name">ten giay</label>
    <input type="text" class="form-control" id="name" name="name">
  
  </div>
  
  <div class="form-group">
    <label for="name">gia tien</label>
    <input type="text" class="form-control" id="name" name="name">
  
  </div>
  <div class="form-group">
    <label for="name">ten giay</label>
    <input type="text" class="form-control" id="name" name="name">
  
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>