<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<div class="row">
  <div class="col-lg-8">
<img src="{{product.image}}" alt="sanpham">
  </div>
  <div class="col-lg-4">
    <h1>{{product.name}}</h1>
  </div>
</div>